<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368181595286-0m0gsccmg9hi2ku1omk0qid13k89t9qi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368181595286-0m0gsccmg9hi2ku1omk0qid13k89t9qi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>368181595286-rnnqah0b9uebum0lkiaqosi30tbbpv2p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyASmVtEzDVL1OHtdyLIW26UbXfoyGtZVV0</string>
	<key>GCM_SENDER_ID</key>
	<string>368181595286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.korazon</string>
	<key>PROJECT_ID</key>
	<string>korazon-dc77a</string>
	<key>STORAGE_BUCKET</key>
	<string>korazon-dc77a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368181595286:ios:17663aee32b079818046b7</string>
</dict>
</plist>